
<div class="ui top attached message">{{ question.text }}</div>
<app-answer-row
  *ngFor='let answer of question.answers'
  [answer]='answer'
  (click)='verifyAnswer(answer)'
  [class.inverted] = "(question.isAnswered && answer.isCorrect) || ((selectedAnswer == answer) && question.isAnswered && !answer.isCorrect)"
  [class.tertiary] = "(question.isAnswered && answer.isCorrect) || ((selectedAnswer == answer) && question.isAnswered && !answer.isCorrect)"
  [class.olive] = "question.isAnswered && answer.isCorrect"
  [class.orange] = "(selectedAnswer == answer) && question.isAnswered && !answer.isCorrect"
>
</app-answer-row>