<form [formGroup]="quizSetupForm">
    <div class="ui breadcrumb">
        <sui-select class="inline"
            formControlName="facility"
            [options]="facilityOptions"
            labelField="icaocode"
            placeholder="Dependencia..."
            isSearchable="true"
            #facSelect>
            <sui-select-option *ngFor="let opt of facSelect.filteredOptions"
                [value]="opt"></sui-select-option>
        </sui-select>
        <i *ngIf="showClusterSelect" class="right angle icon divider"></i>
        <sui-select *ngIf="showClusterSelect"
            formControlName="cluster"
            class="inline"
            [options]="clusterOptions"
            labelField="nombre"
            placeholder="Núcleo..."
            isSearchable="true"
            #clusterSelect>
            <sui-select-option *ngFor="let opt of clusterSelect.filteredOptions"
                [value]="opt"></sui-select-option>
        </sui-select>
        <i *ngIf="setSelectOptions" class="right angle icon divider"></i>
        <span *ngIf="setSelectOptions" formGroupName="quizContent">
            <sui-multi-select
                formControlName="sets"
                [options]="setSelectOptions"
                placeholder="Temas..."
                selectedMessage="bla bla bla"
                labelField="descripcion"
                [hasLabels]="false"
                class="inline" 
                #setSelect>
                <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input suiSelectSearch type="text" placeholder="Search options...">
                </div>
                <div class="scrolling menu">
                    <sui-checkbox formControlName="shuffleQuestions">Mezclar preguntas</sui-checkbox>
                    <br>
                    <sui-checkbox formControlName="shuffleAnswers">Desordenar respuestas</sui-checkbox>
                    <div class="divider"></div>
                    <sui-select-option *ngFor="let o of setSelect.filteredOptions" [value]="o"></sui-select-option>
                </div>
            </sui-multi-select>
        </span>
    </div>
</form>