<div class="ui breadcrumb">
    <sui-select class="inline"
        [(ngModel)]="selectedDep"
        (ngModelChange)="onDepSelect($event)"
        [options]="depDropdownOptions"
        labelField="icaocode"
        placeholder="Dependencia..."
        isSearchable="true"
        #depSelect>
        <sui-select-option *ngFor="let opt of depSelect.filteredOptions"
            [value]="opt"></sui-select-option>
    </sui-select>
    <i *ngIf="(selectedDep && !hideNucSelect)" class="right angle icon divider"></i>
    <sui-select *ngIf="(selectedDep && !hideNucSelect)"
        class="inline"
        [(ngModel)]="selectedNuc"
        (ngModelChange)="onNucSelect($event)"
        [options]="selectedDep.nucleos"
        labelField="nombre"
        placeholder="Núcleo..."
        isSearchable="true"
        #nucSelect>
        <sui-select-option *ngFor="let opt of nucSelect.filteredOptions"
            [value]="opt"></sui-select-option>
    </sui-select>
</div>
<div *ngIf="selectedNuc" class="ui segment">
    <sui-multi-select *ngIf="selectedNuc"
        [(ngModel)]="selected"
        [options]="temaSelectOptions"
        (selectedOptionsChange)="temaSelected.emit($event)"
        placeholder="Temas..."
        labelField="nombre"
        [maxSelected]="5"
        icon="list"
        #temaSelect>
        <div class="ui icon search input">
            <i class="search icon"></i>
            <input suiSelectSearch type="text" placeholder="Search options...">
        </div>
        <div class="scrolling menu">
            <sui-select-option *ngFor="let o of temaSelect.filteredOptions" [value]="o"></sui-select-option>
        </div>
    </sui-multi-select>
    <br>
    <sui-checkbox [(ngModel)]="shuffleQuestions">¿Mezclar preguntas?</sui-checkbox>
    <br>
    <sui-checkbox [(ngModel)]="shuffleAnswers">¿Desordenar respuestas?</sui-checkbox>
</div>